<section id="about-me" class="about-me">
    <div class="container-left">
        <div class="container-left-inner">
            <h1 data-aos="fade-right">About me</h1>
            <p data-aos="fade-right">I am a front-end developer based in Tübingen, Germany with experience in building web apps using
                JavaScript & Angular. You are welcome to visit my public portfolio, which includes responsive websites,
                business apps and games.</p>
            <div class="text-container" data-aos="fade-right">
                <div>
                    <img class="lamp" src="../../assets/img/lamp.png" alt="lamp">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sit facilis ullam dolorum, perferendis
                    dolore, doloremque excepturi sequi dicta dolores neque odio? Et soluta animi, sequi autem id vitae
                    quidem.</p>
            </div>
            <div class="text-container" data-aos="fade-right">
                <div>
                    <img src="../../assets/img/puzzle.png" alt="puzzle">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsa quas eos? Sint, officiis cum!
                    Odio expedita, eveniet dolor dolorum sed odit ipsum nobis, cumque excepturi facilis similique velit
                    voluptates!</p>
            </div>
        </div>
    </div>
    <div class="container-right" data-aos="fade-left">
        <img src="../../assets/img/head.png" alt="foto-head">
        <div></div>
    </div>
    <img class="splash-about-me" src="../../assets/img/splash-about-me.png" alt="splash">
</section>