.start-screen {
    width: 100%;
    height: calc(100vh + 110px);
    padding-top: 110px;
    position: relative;

    @media screen and (min-height: 950px) and (min-width: 992px) {
        height: 1050px
    }

    @media screen and (max-width: 992px) {
        height: 110vh;
    }
}

.bg-startscreen {
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    top: 489px;

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.bg-startscreen-mobile {
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;

    @media screen and (min-width: 992px) {
        display: none;
    }
}


.foto-front {
    position: absolute;
    top: 115px;
    left: 60px;

    @media screen and (max-width: 1200px) {
        width: 600px;
    }

    @media screen and (max-width: 1080px) {
        top: 170px;
        width: 550px;
    }

    @media screen and (max-width: 992px) {
        left: 0;
        right: 0;
        bottom: 450px;
        margin: auto;
    }
}

.foto-front-splash {
    position: absolute;
    width: 900px;
    left: -80px;
    top: 140px;

    @media screen and (max-width: 1200px) {
        width: 800px;
        left: -60px;
    }

    @media screen and (max-width: 1080px) {
        top: 170px;
        left: -40px;
        width: 700px;
    }

    @media screen and (max-width: 992px) {
        left: 0;
        right: 0;
        bottom: 450px;
        margin: auto;
    }
}

.introduction-container {
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 297px;
    right: 100px;

    @media screen and (max-width: 992px) {
        top: unset;
        bottom: 240px;
        left: 0;
        right: 0;
        margin: auto;
    }

    div {
        display: flex;

        @media screen and (max-width: 992px) {
            justify-content: center;
        }
    }

    a {
        margin-top: 44px;
    }
}

.name-container {
    display: flex;
    flex-direction: column;

    span:first-child {
        font-size: 90px;
        font-weight: 700;
        line-height: 120%;

        @media screen and (max-width: 1400px) {
            font-size: 72px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 64px;
        }
    }

    span:nth-child(2) {
        font-size: 55px;
        font-weight: 400;
        line-height: 110%;

        @media screen and (max-width: 1400px) {
            font-size: 44px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 40px;
        }
    }
}

.i-am {
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    rotate: -90deg;
    margin: 0 -54px -5px 0;

    @media screen and (max-width: 1400px) {
        font-size: 54px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 46px;
    }
}

.scroll-down {
    position: absolute;
    right: 100px;
    bottom: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    rotate: 90deg;

    @media screen and (max-width: 992px) {
        display: none;
    }

    span {
        font-size: 23px;
        color: white;
    }

    img {
        width: 16px;
        height: 16px;
        rotate: -90deg;
        margin-left: 10px;
    }
}

.socials-container {
    position: absolute;
    left: 0px;
    bottom: 160px;
    display: flex;
    align-items: center;

    div:first-child {
        width: 100px;
        border: 2px solid #FF4747;
        margin-right: 42px;
    }

    div:nth-child(2) {
        display: flex;
        width: 215px;
    }

    a {
        display: flex;
        align-items: center;
        height: 40px;
        margin-right: 42px;
        text-decoration: none;

        img {
            width: 30px;
            transition: all 100ms ease-in-out;

            &:hover {
                width: 40px;
            }
        }
    }

    span {
        font-size: 23px;
        color: white;
    }
}

@media screen and (max-width: 992px) {
    .mail {
        display: none !important;
    }
}