.open {
}

.closed {
    position: absolute;
    top: 110px;
    z-index: 15;
    width: 100vw;
    height: calc(100vh - 110px);
    background-color: rgb(30, 43, 69, 0.7);
    animation: menu-slide-out 125ms ease-in-out;
    overflow: hidden !important;
}

nav {
    position: absolute;
    top: 110px;
    z-index: 15;
    width: 100vw;
    height: calc(100vh - 110px);
    background-color: rgb(30, 43, 69, 0.7);
    animation: menu-slide-in 125ms ease-in-out;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
    }
}

@keyframes menu-slide-in {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes menu-slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}