<section id="portfolio" class="portfolio">
    <div>
        <h1>Portfolio</h1>
    </div>
    <p>
        This page is a sample of my work! Scroll down to see other projects I have
        developed!
    </p>
    <div>
        <app-project *ngFor="let project of projects.titels; let i = index" [indexImpair]="i % 2 != 0"
            [title]="titles[i]" [explanation]="explanations[i]" [img]="img[i]" [language]="language[i]" [web]="web[i]"
            [git]="git[i]"></app-project>
    </div>
</section>