<section id="my-skills" class="my-skills">
    <div class="icons-container">
        <div class="icons-inner-container">
            <div class="java">
                <img src="../../assets/img/javascript.png">
                <span>JavaScript</span>
            </div>

            <div class="java">
                <img src="../../assets/img/angular.png">
                <span>Angular</span>
            </div>

            <div class="java">
                <img src="../../assets/img/typescript.png">
                <span>TypeScript</span>
            </div>

            <div class="java">
                <img src="../../assets/img/html.png">
                <span>HTML</span>
            </div>
        
            <div class="java">
                <img src="../../assets/img/git.png">
                <span>Git</span>
            </div>

            <div class="java">
                <img src="../../assets/img/firebase.png">
                <span>Firebase</span>
            </div>
            <div class="java">
                <img src="../../assets/img/css.png">
                <span>CSS</span>
            </div>
            
            <div class="java">
                <img src="../../assets/img/scrum.png">
                <span>Scrum</span>
            </div>

            <div class="java">
                <img src="../../assets/img/rest-api.png">
                <span>API</span>
            </div>
            
            <div class="java">
                <img src="../../assets/img/material-design.png">
                <span>Material Design</span>
            </div>
        </div>
    </div>
    <div class="skill-text">
        <div class="head-skill">
            <h1>Skills</h1>
            <img  />
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
            consequatur tempore similique autem error voluptatum sapiente explicabo
            mollitia ipsum accusantium iste rem officia omnis temporibus illo fuga
            deserunt, ab ducimus.
        </p>
        <a href="#contact"><button>Get in touch</button></a>
    </div>
</section>