<section id="my-skills" class="my-skills">
    <img class="splash-my-skills" src="../../assets/img/splash-my-skills.png" alt="splash-my-skills">
    <div class="icons-container">
        <div class="icons-inner-container">
            <div data-aos="fade-right">
                <img src="../../assets/img/angular.png">
                <span>Angular</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/typescript.png">
                <span>TypeScript</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/javascript.png">
                <span>JavaScript</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/html.png">
                <span>HTML</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/firebase.png">
                <span>Firebase</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/git.png">
                <span>Git</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/css.png">
                <span>CSS</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/scrum.png">
                <span>Scrum</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/rest-api.png">
                <span>API</span>
            </div>

            <div data-aos="fade-right">
                <img src="../../assets/img/material-design.png">
                <span>Material Design</span>
            </div>
        </div>
        <a href="#contact"><button class="btn-orange button-mobile">Get in touch</button></a>
    </div>
    <div class="skill-container" data-aos="fade-left">
        <div class="head-skill">
            <h1>My skills</h1>
            <div class="line-right"></div>
        </div>
        <div class="skill-text">
            <span>I have grown my frontend developments skills that have allowed me to create different real projects. Have a look!</span>
            <a href="#contact"><button class="btn-orange">Get in touch</button></a>
        </div>
    </div>
</section>