<div class="project-container" [ngClass]="{'reversed': indexImpair === true}">
    <div class="img-container">
        <div [ngClass]="{'jc-flex-end': indexImpair === false}">
            <img src="../../assets/img/{{img}}-screen.png" alt="{{img}}-screen">
        </div>
    </div>
    <div class="space">

    </div>
    <div class="info-container">
        <div class="info-project" [ngClass]="{'ai-flex-end': indexImpair === true}">
            <h2>{{ title }}</h2>
            <h3>{{ language }}</h3>
            <span [ngClass]="{'text-end': indexImpair === true}">{{ explanation }}</span>
        </div>
        <div class="button-box" [ngClass]="{'jc-flex-end': indexImpair === true}">
            <a href="https://dr-katja-becker-lindhorst.developerakademie.net/{{web}}" target="_blank"><button
                    class="b1">Live test</button></a>
            <a href="{{git}}" target="_blank"><button class="b2">Github</button></a>
        </div>
    </div>
</div>