header {
    position: fixed;
    height: 110px;
    top: 0px;
    z-index: 10;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    background-color: #141D2F;

    a {
        text-decoration: none !important;
    }

    span {
        font-size: 32px;
        font-weight: 600;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    nav {
        display: flex;
        gap: 46px;

        a {
            font-size: 23px;
            font-weight: 400;
            color: white;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: #FA7902;
            }
        }
    }
}