<header>
    <div>
        <a href="#start-screen" (click)="selectedMenuItem = ''">
            <span>H</span>
            <span class="red">a</span>
            <span>ns</span>
        </a>
    </div>
    <nav>
        <a href="#about-me" (click)="selectedMenuItem = 'About me'">
            <span [ngClass]="{'selected': selectedMenuItem === 'About me'}">About me</span>
            <img [ngClass]="{'selected': selectedMenuItem === 'About me'}" src="../../assets/img/selected.png">
        </a>
        <a href="#my-skills" (click)="selectedMenuItem = 'My skills'">
            <span [ngClass]="{'selected': selectedMenuItem === 'My skills'}">Skills</span>
            <img [ngClass]="{'selected': selectedMenuItem === 'My skills'}" src="../../assets/img/selected.png">
        </a>
        <a href="#portfolio" (click)="selectedMenuItem = 'Portfolio'">
            <span [ngClass]="{'selected': selectedMenuItem === 'Portfolio'}">Portfolio</span>
            <img [ngClass]="{'selected': selectedMenuItem === 'Portfolio'}" src="../../assets/img/selected.png">
        </a>
    </nav>
    <img *ngIf="menuOpen == false" (click)="openMenu()" class="burger" src="../../assets/img/burger.png"
        alt="menu-button">
    <a *ngIf="menuOpen == true" href="#top"><img (click)="closeMenu()" class="burger" src="../../assets/img/exit.png"
        alt="exit-button"></a>
</header>
<nav class="mobile-nav" *ngIf="menuOpen" [@slideInOut]>
    <a href="#about-me" (click)="closeMenu()">About me</a>
    <a href="#my-skills" (click)="closeMenu()">My skills</a>
    <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
    <a href="#contact"><span (click)="closeMenu()">Contact</span></a>
</nav> 