/* imports the file fonts.css */
@import 'fonts.css';

html,
body {
    scroll-behavior: smooth;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    overflow-x: hidden;
    min-height: 2000px;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;

}

html {
    display: flex;
    justify-content: center;
    background-color: #1e2b45;
}

body {
    max-width: 1600px;
    background-color: #141D2F;
}

* {
    box-sizing: border-box;
}